.btn {
    margin: 0 1.5em 0 1.5em
}

.btn:hover:enabled{
    background-color: aqua
}

.badge {
    margin: 0 0 0 0.5em
}

progress {
    width: 600px;
    margin-top: 1em;
    background-color: antiquewhite
}

progress::-moz-progress-bar { background:green; }

progress:hover{
    border: 0.5em;
    border-color: brown
}